<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Animal Thesaurus</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
	<div id="global-content">
		<div id="content">
			<header>
				<div id="logo">
					<a href="#"><img src="images/logo.png" /></a>
				</div>
				<div class="navbar navbar-left navbar-default menu">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Lien 1</a></li>
							<li><a href="#">Lien 2</a></li>
							<li><a href="#">Lien 3</a></li>
							<li><a href="#">Lien 4</a></li>
							<li><a href="#">Lien 5</a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</header>
			<h1>Page du mot félin</h1>
			<p>Blabla bla bla bla</p>
			<h2>Synonymes</h2>
			<ul class="list-inline">
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#"><span class="text-info">Ajouter un mot</span></a></li>
			</ul>
			
			<h2>Relations de type 2</h2>
			<ul class="list-inline">
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#">Les félins</a></li>
				<li><a href="#"><span class="text-info">Ajouter un mot</span></a></li>
			</ul>
			
			
		</div>
		<div id="animals"></div>
		<div id="trees"></div>
	</div>
	<footer>
		Je suis le footer
	</footer>

</body>
</html>
