{% extends '::base.html.twig' %}

{% block title %}Tous les mots - {{ parent() }}{% endblock %}

{% block body -%}
    <div class="page-header">
		<h1>Tous les mots</h1>
	</div>
	
	<ul class="list-inline">
		{% for entity in entities %}
		<li><a href="{{ path('word_show', { 'id': entity.id }) }}"><span class="btn btn-xs btn-default">{{ entity.name }}</span></a></li>
		{% endfor %}
	</ul>
	
	<h2>Actions</h2>
	
	<ul class="list-inline">
        <li><a href="{{ path('word_new') }}"><span class="btn btn-primary">Créer un nouveau mot</span></a></li>
    </ul>
    {% endblock %}
