{% extends '::base.html.twig' %}

{% block body %}
	<div class="jumbotron">
		<h1>Ninja Thesaurus</h1>
		<p>Le Thesaurus officiel des ninja, des vrais, ceux qui sont derrière vous.</p>
	</div>
{% endblock %}
